var $e = $(".footer .row-fluid");
$e.find(".error").remove();

<% if @lead.errors.full_messages.empty? %>

	$e.fadeOut("fast", function(){
		$e.find("h3").html("תודה על התעניינותך,");
		$e.find(".form").html('<p>ביום השקת האתר נפתח עבורך כרטיס אישי ונזמין אותך להינות מהאתר.</p><p>לשאלות נוספות <a href="mailto:support@mysugar.co.il">support@mysugar.co.il</a></p><p class="social"><a target="_blank" href="https://twitter.com/mysugarweb"><img src="http://mysugar-assets.s3.amazonaws.com/images/twitter-email-button.png" alt="עקוב אחרינו בטויטר" /></a><a target="_blank" href="http://www.facebook.com/pages/MySugar/116310051850398"><img src="http://mysugar-assets.s3.amazonaws.com/images/facebook-email-button.png" alt="הצטרף אלינו בפייסבוק" /></a></p>');
		$e.fadeIn("fast");
	});

<% else %>
	$e.find(".form").append("<p class='error'><%= @lead.errors.full_messages.last %></p>");
<% end %>