<div class="wrap header">
	<div class="row-fluid">
		<div id="main" class="hidden-phone"></div>
		<div class="span5">
			<div id="logo"></div>
			<h2>
				מסתבר שאפשר לקנות אהבה
			</h2>
			<div class="top-text">
				<p>
					חולמת על מאהב עשיר,
					<br/>
					שרמנטי ומפנק?
				</p>
				<p>
					רוצה להכיר צעירות ומושכות,
					<br/>
					שאפתניות ומפונקות?
				</p>
			</div>
		</div>
		<div class="span5 empty"></div>
	</div>
</div>

<div class="wrap footer">
	<div class="row-fluid">
		<h3>
			לפרטים נוספים
			<a class="first" target="_blank" href="https://twitter.com/mysugarweb"><img src="http://mysugar-assets.s3.amazonaws.com/images/twitter-email-button.png" alt="עקוב אחרינו בטויטר" /></a>
			<a target="_blank" href="http://www.facebook.com/pages/MySugar/116310051850398"><img src="http://mysugar-assets.s3.amazonaws.com/images/facebook-email-button.png" alt="הצטרף אלינו בפייסבוק" /></a>

		</h3>

		<div class="form">
			<%= form_tag create_path, :remote => true do %>
				<input type="text" size="30" name="email" id="signup-email" placeholder="הזן את כתובת הדואר אלקטרוני שלך..." />
				<select name="usertype" id="signup-type">
					<option value="3">שוגר בייב</option>
					<option value="1">שוגר דדי</option>
					<option value="2">שוגר מאמי</option>					
					<option value="4">שוגר בוי</option>
				</select>
				<button type="submit" id="signup-submit"></button>
			<% end %>
		</div>
	</div>
</div>