body
{
	margin: 0;
	padding: 0;
	background-color: #211E1C;
	height: 100%;
	color: white;
	font: italic 14px/18px Arial, Helvetica, sans-serif;	
}

#wrapper
{
	background: #00A0C6 url(/assets/bg.png) no-repeat 50% 0%;
	height: 350px;
	overflow: hidden;	
}
