/* Landscape phones and down */
@media (max-width: 480px) 
{ 
	.header
	{
		height:auto;
		padding:40px 0;
	}

	.row-fluid
	{
		width:90%;
	}

	#signup-email
	{
		float:none;
		display:block;
	}

	#signup-type
	{
		float:none;
		display:block;
		width:298px;
		max-width:298px;
	}

	#signup-submit
	{
		float:none;
		display:inline-block;
		background-position:center center;
	}

	.empty
	{
		display:none !important;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) 
{ 
	.header
	{
		height:auto;
		padding:12px 0;
	}

	.row-fluid
	{
		width:90%;
	}

	#signup-email
	{
		float:none;
		display:block;
	}

	#signup-type
	{
		float:none;
		display:block;
		width:298px;
		max-width:298px;
	}

	#signup-submit
	{
		float:none;
		display:inline-block;
		background-position:center center;
	}

	.empty
	{
		display:none !important;
	}	
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) 
{ 
	.row-fluid
	{
		width:90%;
	}

	.empty
	{
		display:none !important;
	}

}


@media (max-width: 320px) 
{
	h2
	{
		font-size:22px;
	}

	.top-text p
	{
		font-size:22px;
	}

	.header
	{
		padding:12px 0;
	}

	#signup-email, 
	#signup-type
	{
		width:240px;
	}

	.empty
	{
		display:none !important;
	}
}