<style>
	body 
	{
		background-color: #fff;
		color:#333;
	}

	#wrapper
	{
		width:80%;
		margin:14px auto;
		direction:rtl;
	}

	.table td, 
	.table th
	{
		direction: rtl;
		text-align:right;
	}

	h1
	{
		margin-bottom:20px;
	}

	html
	{
		height:inherit;
	}
</style>


<div id="wrapper">
	<h1>רשימת נרשמים</h1>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>דואר אלקטרוני</th>
				<th>סוג משתמש</th>
				<th>תאריך הרשמה</th>
			</tr>
		</thead>
		<tbody>
			<% @leads.each do |lead| %>
<%
	case lead.usertype
	when "1"
		usertype = "שוגר דדי"
	when "2"
		usertype = "שוגר מאמי"
	when "3"
		usertype = "שוגר בייב"
	when "4"
		usertype = "שוגר בוי"
	else
		usertype = lead.usertype
	end
%>			
				<tr>
					<td><%= lead.email %></td>
					<td><%= usertype %></td>
					<td><%= lead.created_at.strftime("%d/%m/%Y בשעה %H:%M") %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>